:host {
  position: fixed;
  z-index: 600;
  top: 0;
  width: min(100%, 20rem);
  user-select: none;
}

.board {
  display: grid;
  background-color: #333;
  padding: 1rem 1.5rem;
  gap: var(--spacing);
  border-radius: var(--radius-min);
  box-shadow: var(--basicShadow, 2px 2px 9px 3px rgba(0, 0, 0, 0.39));

  &-title {
    font-weight: 600;
    letter-spacing: .1rem;
  }

  &-content {
    display: grid;
    gap: var(--spacing);
  }
}
