.boxData {
  display: grid;
  gap: 1rem;
  place-content: center;
  position: absolute;
  width: min(90%, 75rem);
  top: 100%;
  left: 50%;
  padding: 1.5rem;
  transform: translate(-50%, -40%);
  background-color: var(--blanco);
  border-radius: var(--radius, 1rem);
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.39);
  z-index: 500;
  @media screen and (min-width: 45rem) {
    grid-template-columns: repeat(4, 1fr);
  }

  &-subWrapper {
    display: grid;
    text-align: center;
  }

  &-subTitle {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
  }

  &-text {
    font-size: 1.3rem;
    font-weight: 700;
  }
}
