@use '../../../assets/scss/functions.scss' as *;

.nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-content: center;
  padding-inline: 3rem;
  width: min(90%, toRem(1110));
  height: toRem(120);
  background-color: #ffffff;
  border-radius: var(--radius-min, .4rem);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  &-list {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--letterFocus);
  }
  &-btn{
    color: var(--letterSecondary);
    font-weight: 600;
    cursor: pointer;
    &:hover{
      color: var(--letterFocus);
      text-decoration: underline;
    }
  }
}
